services:
  fathaker:
    build: .
    image: fathaker
    container_name: fathaker
    ports:
      - "8000:8000"
    volumes:
      - ./media/:/fathaker/media/
      - ./static/:/fathaker/static/
      - ./db.sqlite3:/fathaker/db.sqlite3
