{% extends 'base/base.html' %}
{% load static %}
{% block style %}
    <link href="{% static 'radio/css/radios.css' %}" rel="stylesheet">
{% endblock style %}
{% block title %}فذكر | إذاعات مباشرة{% endblock title %}

{% block content %}
    <div class="container mt-5 overflow-hidden" style="min-height: 100vh;">
    <div class="row">



        <div class="container mt-5 overflow-hidden" style="min-height: 100vh;">


            <div class="row">
                <label class="position-relative">
                    <input type="text" class="col-12 my-3 search-input" id="search" placeholder="ابحث عن إذاعة">
                    <i class="fa fa-search search-icon"></i>
                    <i class="fas fa-times clear-search-icon"></i>
                </label>
            </div>

            <div class="row" id="radios-container">

            </div>
        </div>



    </div>
</div>
{% endblock %}

{% block script %}
    <script>
        let radios = [
        {% for radio in radios %}
                {
                    name: "{{ radio.name }}",
                    src: "{{ radio.stream_url }}",
                    img: "{% if radio.image %}{{ radio.image.url }}{% else %}{% static 'radio/img/radio_img_not_available.png' %}{% endif %} ",
                    tags: [{% for name in radio.tags.names %}"{{ name }}",{% endfor %}]
                },
        {% endfor %}
        ]
    </script>
    <script src="{% static 'radio/js/radios.js' %}"></script>
{% endblock %}