@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');

* {
    font-family: 'Cairo', Arial, serif;
}

/* start radio card */

.radio-card
{
    background-color: #FFF;
    border: 1px solid #B2B2B250;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.radio-card.active
{
    position: absolute;
    border: 2px solid rgba(2, 89, 85, 0.314);
    z-index: 2;
}
.radio-info
{
    display: flex;
    flex-direction: row;
}

.radio-img
{
    border-radius: 6px;
    width: 100px;
    height: 100px;
}

.radio-info .info  .name
{
    font-size: 20px;
    font-weight: 800;
}

.radio-info .info .tags
{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0;
}
.radio-info .info .tags .tag
{
    display: block;
    background: #c45e3690;
    padding: 5px 10px;
    border-radius: 6px;
    color: #FFF;
    font-weight: bold;
}

.play-btn
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #c45e36;
    align-self: center;
    position: relative;
    cursor: pointer;
}

.play-btn.play::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid white;
    /*transform: translateX(6px); !* Adjust positioning *!*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -50%);
}

.play-btn.pause::after {
    content: '';
    display: block;
    width: 10px;
    height: 30px;
    background-color: white;
    position: absolute;
    left: 12px;
    top: 10px;
}

.play-btn.pause::before {
    content: '';
    display: block;
    width: 10px;
    height: 30px;
    background-color: white;
    position: absolute;
    right: 12px;
    top: 10px;
}


/* end radio card */


/* start music player */
.music-player {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 80%;
    transform: translate(10%);
    background-color: #fff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.player-info {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: #fafafa;
}

.album-cover {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 16px;
}

.album-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.radio-details {
    flex-grow: 1;
    margin-right: 20px;
}

.category-name {
    font-size: 18px;
    margin: 0;
    margin-bottom: 4px;
}

.radio-name {
    font-size: 14px;
    margin: 0;
    color: #555;
}

.player-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background-color: #fafafa;
}

/*.play-btn,*/
.volume-btn {
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #555;
    margin: 0 8px;
    cursor: pointer;
}

/*.play-btn:hover,*/
.volume-btn:hover {
    color: #000;
}

.progress-bar-container {
    flex-grow: 1;
    position: relative;
    margin: 0 16px;
}

.progress-bar {
    width: 100%;
    -webkit-appearance: none;
    background-color: #eee;
    outline: none;
}

.progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background-color: #555;
    border-radius: 50%;
    cursor: pointer;
}

/* end music player */


/* start search bar */

.search-input
{
    padding: 1rem 3.25rem 1rem 1rem;
    border: 1px solid #c45e36;
    border-radius: 2rem;
}
.search-input::placeholder { color: #025955; }
.search-input:focus { outline: 1px solid #025955;  border: 1px solid #025955; }
.search-icon
{
    position: absolute;
    font-size: 1.5rem;
    color: #025955;
    top: 50%;
    left: 100%;
    transform: translate(-210%, -50%);
}

.clear-search-icon
{
    display: none;
    /*opacity: 0;*/
    position: absolute;
    font-size: 1.5rem;
    color: #c45e36;
    top: 50%;
    left: 100%;
    transform: translate(-300%, -50%);
}
.search-input:focus ~ .search-icon { display: none;}
.search-input:focus ~ .clear-search-icon { display: block;}


/* end search bar */

/* Start small screens */
@media (max-width: 768px) {
    #radios-container { padding: 0 1rem !important; }
    .radio-img
    {
        width: 75px;
        height: 75px;
    }

    .radio-info .info .name
    {
       font-size: 16px;
        font-weight: 700;
    }

    .radio-info .info .tags { gap: 5px }

    .radio-info .info .tags .tag
    {
        font-size: 12px;
        padding: 5px;
        font-weight: 400;
    }

    .play-btn
    {
        width: 35px;
        height: 35px;
    }

    .play-btn.play::after
    {
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-left: 20px solid white;
    }

    .play-btn.pause::before
    {
        width: 4px;
        height: 15px;
    }

    .play-btn.pause::after
    {
        width: 4px;
        height: 15px;
    }

}
/* End small screens */
